body{
    display: flex;
    justify-content: center;
     
}

    .login{
    width: 400px;
    height: 500px;
    background-color: rgba(237, 237, 237, 0.992);
    border-radius: 33px;
}
svg{
    border-radius: 33px;
}

.form{
    display: grid;
    width: 80%;
   
    margin: auto;
}

label{
  font-family:    'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 14px;
}

 input{
    width: 100%;
    height: 19px;
    margin: 0.3rem 0;
    background: rgba(3, 112, 229, 0.541);
    border: none;
    border-radius: 6px;
    color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    outline: none;
 }
 h1{
  font-style: italic;
  color: rgb(0, 4, 252);
  font-weight: 800;
  font-style: bold;
 width: 80%;
 margin: auto;
 padding: 1rem 0;
 text-align: center;
 }